@model DoAnMangMayTinh.Models.PhongThi

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PhongThi</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenPhong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenPhong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoLuongChoNgoi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoLuongChoNgoi)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID_Phong" class="btn btn-warning">Sửa</a>
    <a asp-action="Index" class="btn btn-secondary">Quay lại</a>
</div>
